.cardContainer {
  background-color: white;
  height: 10rem;
  border-radius: 5px;
  width: 40%;
  padding-top: 2rem;
  margin: auto;
  margin-bottom: 10%;
  margin-top: 5%;
}
.cardContainer .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cardContainer .heading .info {
  display: flex;
  margin-left: 10px;
}
.cardContainer .planName {
  margin-left: 10px;
}
.info p {
  margin-left: 5px;
  background-color: none;
  color: blue;
  border-radius: 5%;
  padding: 2px;
}
.heading button {
  border: none;
  background: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: rgb(21, 70, 113);
  cursor: pointer;
}
.cardContainer .price {
  font-size: larger;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 10px;
}
.choosePlan p {
  color: rgb(21, 70, 113);
}
.choosePlan button {
  border: 2px solid rgb(21, 70, 113);
  padding: 0.3rem;
  background: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 10px;
}
.cardContainer .description {
  margin-top: 10px;
  margin-left: 10px;
}
