* {
  margin: 0;
  padding: 0;
}
.card {
  width: 25rem;
  height: 28rem;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card .container {
  width: 100%;
  box-sizing: border-box;
}
.heading {
  margin: 1rem 0rem;
  padding: 0.5rem;
  font-size: larger;
  font-weight: bold;
  word-spacing: 5px;
}
.ele1 p {
  font-size: large;
  margin: 0.5rem 0rem;
  text-align: left;
  margin-left: 15%;
}
.ele1 {
  box-sizing: border-box;
}

.ele1 input {
  width: 70%;
  border: 1px solid grey;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 5px;
}
.ele2 p {
  font-size: large;
  margin: 0.5rem 0rem;
  text-align: left;
  margin-left: 15%;
}
.ele2 {
  box-sizing: border-box;
}

.ele2 input {
  width: 70%;
  border: 1px solid grey;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 5px;
}
.ele3 p {
  font-size: large;
  margin: 0.5rem 0rem;
  text-align: left;
  margin-left: 15%;
}
.ele3 {
  box-sizing: border-box;
}

.ele3 input {
  width: 70%;
  border: 1px solid grey;
  padding: 0.5rem;
  height: 2rem;
  border-radius: 5px;
}

.btn button {
  width: 74%;
  padding: 0.9rem;
  background-color: rgb(0, 0, 160);
  border-radius: 5px;
  color: white;
  border: none;
  margin: 0.9rem 0rem;
}
.btn button:hover {
  background-color: rgb(2, 2, 133);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transition: ease-in;
  transition-duration: 200ms;
}

.written {
  margin: 0.5rem 0rem;
  font-size: smaller;
}
.written span {
  color: rgb(0, 0, 141);
}
.written span:hover {
  color: rgb(0, 0, 141);
  cursor: pointer;
}
